In [2]:
# Importando Biblioteca
import pandas as pd


from pathlib import Path

In [3]:
# Caminho de origem dos dados já tratados
caminho_csv = Path("../dados/trusted/dados_tratados.csv")

In [4]:
# Leitura de dados em CSV
dados = pd.read_csv(caminho_csv)

dados.head()

,id_compra,data,horario,ano,mes,dia_semana,categoria,preco_unitario,quantidade,frete,valor_total,metodo_pagamento,id_cliente,cidade,uf,regiao,idade,sexo_biologico,cashback,avaliacao_compra
0,6,2023-01-03,20:40,2023,1,Tuesday,Eletrônicos,4457.9,4,713.26,18544.86,Boleto,6149,Porto Alegre,Rio Grande Do Sul,Sul,30,Masculino,1,10
1,5,2023-01-03,21:48,2023,1,Tuesday,Ferramentas E Construção,115.9,1,0.00,115.90,PIX,9491,São Paulo,São Paulo,Sudeste,36,Masculino,1,8
2,9,2023-01-03,17:08,2023,1,Tuesday,Beleza E Cuidados Pessoais,68.9,2,13.78,151.58,Cartão de Crédito,5288,Porto Velho,Rondônia,Norte,39,Feminino,0,7
3,4,2023-01-03,14:29,2023,1,Tuesday,Ferramentas E Construção,80.9,5,40.45,444.95,PIX,9679,Recife,Pernambuco,Nordeste,35,Masculino,1,9
4,8,2023-01-03,18:02,2023,1,Tuesday,Beleza E Cuidados Pessoais,165.0,4,0.00,660.00,PIX,1380,São Paulo,São Paulo,Sudeste,50,Masculino,0,9

In [5]:
# Informação dos dados de cada coluna
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_compra         6169 non-null   int64
 1   data              6169 non-null   object
 2   horario           6169 non-null   object
 3   ano               6169 non-null   int64
 4   mes               6169 non-null   int64
 5   dia_semana        6169 non-null   object
 6   categoria         6169 non-null   object
 7   preco_unitario    6169 non-null   float64
 8   quantidade        6169 non-null   int64
 9   frete             6169 non-null   float64
 10  valor_total       6169 non-null   float64
 11  metodo_pagamento  6169 non-null   object
 12  id_cliente        6169 non-null   int64
 13  cidade            6169 non-null   object
 14  uf                6169 non-null   object
 15  regiao            6169 non-null   object
 16  idade             6169 non-null   int64
 17  sexo_biologico    6169 non-null   object
 18  cashback          6169 non-null   int64
 19  avaliacao_compra  6169 non-null   int64
dtypes: float64(3), int64(8), object(9)
memory usage: 964.0+ KB

In [6]:
#Estatística descritiva para varíaveis númericas
dados.describe()

,id_compra,ano,mes,preco_unitario,quantidade,frete,valor_total,id_cliente,idade,cashback,avaliacao_compra
count,6169.000000,6169.0,6169.000000,6169.000000,6169.000000,6169.000000,6169.000000,6169.000000,6169.000000,6169.000000,6169.000000
mean,3085.000000,2023.0,8.131626,873.234738,3.004863,119.233832,2752.311154,5461.475280,38.260010,0.423407,8.443670
std,1780.981237,0.0,3.376771,1852.064342,1.420725,366.149225,6590.867737,2610.959977,9.838951,0.494139,1.730584
min,1.000000,2023.0,1.000000,2.900000,1.000000,0.000000,2.900000,1005.000000,18.000000,0.000000,0.000000
25%,1543.000000,2023.0,5.000000,44.900000,2.000000,0.320000,109.760000,3148.000000,31.000000,0.000000,8.000000
50%,3085.000000,2023.0,8.000000,93.900000,3.000000,7.550000,272.320000,5436.000000,38.000000,0.000000,9.000000
75%,4627.000000,2023.0,11.000000,221.900000,4.000000,29.240000,780.890000,7748.000000,45.000000,1.000000,9.000000
max,6169.000000,2023.0,12.000000,8000.000000,5.000000,4521.540000,43025.950000,9999.000000,70.000000,1.000000,10.000000

In [7]:
# Números de dados nulo no datafarme
dados.isnull().sum().sum()

np.int64(0)

In [8]:
# Ddaos nulos por colunas
dados.isnull().sum()

id_compra           0
data                0
horario             0
ano                 0
mes                 0
dia_semana          0
categoria           0
preco_unitario      0
quantidade          0
frete               0
valor_total         0
metodo_pagamento    0
id_cliente          0
cidade              0
uf                  0
regiao              0
idade               0
sexo_biologico      0
cashback            0
avaliacao_compra    0
dtype: int64

## Anáise de dados

In [9]:
# Contagem da categoria sexo_biologico por cliente
sexo_biologico = dados["sexo_biologico"].value_counts()
sexo_biologico

sexo_biologico
Feminino     3371
Masculino    2798
Name: count, dtype: int64

In [10]:
#Média de idadede dos clientes
idede_media = dados["idade"].mean()
idede_media

np.float64(38.2600097260496)

In [11]:
# Idadede Mínima dos clientes
idade_minima = dados["idade"].min()
idade_minima

np.int64(18)

In [12]:
# Idadede Maxima dos clientes
idade_maxima = dados["idade"].max()
idade_maxima

np.int64(70)

In [13]:
# Lista das três categorias mais vendidas
top_categorias = dados["categoria"].value_counts().head(3)
top_categorias

categoria
Alimentos E Bebidas           1495
Beleza E Cuidados Pessoais    1062
Casa E Limpeza                1041
Name: count, dtype: int64

In [14]:
# Lista das três categorias que tiveram maior valor total
top_categorias_valor = dados.groupby("categoria")["valor_total"].sum().nlargest(3)
top_categorias_valor

categoria
Eletrônicos                   11025894.73
Eletrodomésticos               4548591.79
Beleza E Cuidados Pessoais      441649.72
Name: valor_total, dtype: float64

In [15]:
# Lista 5 cidades que tiveram maior valor total
top_cidades_valor = dados.groupby("cidade")["valor_total"].sum().nlargest(5)
top_cidades_valor

cidade
São Paulo         1167924.60
Salvador           952644.84
Curitiba           867529.97
João Pessoa        815699.95
Rio De Janeiro     777825.86
Name: valor_total, dtype: float64

In [16]:
# Lista das 5 regiões que tiveram maior valor total
top_regioes_valor = dados.groupby("regiao")["valor_total"].sum().nlargest(5)
top_regioes_valor

regiao
Sudeste         6833258.52
Nordeste        5249059.11
Sul             2454932.45
Centro-Oeste    1393880.91
Norte           1047876.52
Name: valor_total, dtype: float64

In [17]:
# Categoria mais comprada por sexo biológico
sexo_categoria = dados.groupby("sexo_biologico")["categoria"].value_counts().unstack().fillna(0)
sexo_categoria

categoria,Alimentos E Bebidas,Beleza E Cuidados Pessoais,Casa E Limpeza,Eletrodomésticos,Eletrônicos,Ferramentas E Construção,Livros,Papelaria E Escritório
sexo_biologico,,,,,,,,
Feminino,854,657,628,353,297,177,153,252
Masculino,641,405,413,312,283,297,148,299

In [18]:
# Categorias mais vendidadas por região
categorias_regiao = dados.groupby("regiao")["categoria"].value_counts().unstack().fillna(0)
categorias_regiao

categoria,Alimentos E Bebidas,Beleza E Cuidados Pessoais,Casa E Limpeza,Eletrodomésticos,Eletrônicos,Ferramentas E Construção,Livros,Papelaria E Escritório
regiao,,,,,,,,
Centro-Oeste,116,80,93,59,44,39,27,37
Nordeste,460,311,322,200,176,157,85,171
Norte,72,53,50,33,32,24,14,29
Sudeste,639,488,433,287,241,194,141,243
Sul,208,130,143,86,87,60,34,71

In [19]:
# listas com as Cinco (5) cidades com maior número de vendas
top_cidades_vendas = dados["cidade"].value_counts().head(5)
top_cidades_vendas

cidade
São Paulo         458
Salvador          382
Rio De Janeiro    284
Brasília          263
Porto Alegre      260
Name: count, dtype: int64

In [20]:
# Método de pagamento mais utilizado
metodo_pagamento = dados["metodo_pagamento"].value_counts()
metodo_pagamento

metodo_pagamento
Cartão de Crédito    2851
PIX                  2244
Cartão de Débito      547
Boleto                527
Name: count, dtype: int64

In [21]:
# Metodo de pagamento mais utilizado por sexo biológico
sexo_metodo_pagamento = dados.groupby("sexo_biologico")["metodo_pagamento"].value_counts().unstack().fillna(0)
sexo_metodo_pagamento

metodo_pagamento  Boleto  Cartão de Crédito  Cartão de Débito   PIX
sexo_biologico
Feminino             296               1550               284  1241
Masculino            231               1301               263  1003

In [22]:
# Metodo de pagamento mais utilizado por região
metodo_pagamento_regiao = dados.groupby("regiao")["metodo_pagamento"].value_counts().unstack().fillna(0)
metodo_pagamento_regiao

metodo_pagamento  Boleto  Cartão de Crédito  Cartão de Débito  PIX
regiao
Centro-Oeste          50                236                42  167
Nordeste             160                847               171  704
Norte                 28                145                21  113
Sudeste              224               1237               240  965
Sul                   65                386                73  295

In [23]:
# As Cinco (5) cidades com maior números de pagamentos com cartão de crédito
top_cidades_cartao_credito = dados[dados["metodo_pagamento"].isin(["Cartão de Crédito"])]["cidade"].value_counts().head(5)
top_cidades_cartao_credito

cidade
São Paulo         191
Salvador          169
Rio De Janeiro    142
Brasília          131
Recife            127
Name: count, dtype: int64

In [24]:
# As Cinco (5) cidades com maior números de pagamentos com Pix
top_cidades_pix = dados[dados["metodo_pagamento"].isin(["PIX"])]["cidade"].value_counts().head(5)
top_cidades_pix

cidade
São Paulo         195
Salvador          142
Fortaleza         102
Porto Alegre      102
Belo Horizonte    101
Name: count, dtype: int64

In [26]:
# média de avaliação dos clientes
media_avaliacao = dados["avaliacao_compra"].mean()
media_avaliacao

np.float64(8.44366996271681)