In [25]:

import sys
!{sys.executable} -m pip install pandas numpy duckdb

import duckdb
import numpy as np
import pandas as pd
from pathlib import Path
import os

# 1. Encontrar o diretório base do projeto
try:
    BASE_DIR = Path(__file__).resolve().parent.parent  # Para scripts .py
except NameError:
    BASE_DIR = Path(os.getcwd()).parent  # Para notebooks Jupyter

# 2. Construir caminhos absolutos
PARQUET_DIR = BASE_DIR / "dados" / "refined"
paths = {
    "fato_vendas": PARQUET_DIR / "fato_vendas.parquet",
    "dim_cliente": PARQUET_DIR / "dim_cliente.parquet",
    "dim_tempo": PARQUET_DIR / "dim_tempo.parquet",
    "dim_produto": PARQUET_DIR / "dim_produto.parquet"
}

# 3. Verificar se os arquivos existem
for nome, caminho in paths.items():
    if not caminho.exists():
        print(f"ERRO: Arquivo não encontrado - {caminho}")
        print("Execute esta célula para ver o diretório atual:")
        print("import os; print(os.getcwd())")
        raise FileNotFoundError(f"Arquivo {nome} não encontrado")

# 4. Conexão DuckDB e criação das views
conn = duckdb.connect()

# Criar views com caminhos absolutos garantidos
for nome, caminho in paths.items():
        conn.execute(f"""
        CREATE OR REPLACE TEMP VIEW {nome} AS 
        SELECT * FROM '{caminho}'
        """)

Requirement already satisfied: pandas in c:\users\ingri\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\ingri\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: duckdb in c:\users\ingri\appdata\local\programs\python\python313\lib\site-packages (1.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ingri\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ingri\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ingri\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ingri\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### 1. Análise de Vendas por Categoria e Período (dim_produto + dim_tempo)

Insight: Identificar sazonalidade por categoria e dias da semana com maior volume.

In [26]:
resultado = conn.execute("""
SELECT 
    p.cat_categoria,
    t.nu_mes,
    t.no_dia_semana,
    SUM(f.vr_total) AS receita_total,
    COUNT(f.id_compra) AS volume_vendas,
    SUM(f.vr_frete) AS total_frete
FROM 'fato_vendas' f
JOIN 'dim_tempo' t ON f.id_tempo = t.id_tempo
JOIN 'dim_produto' p ON f.id_produto = p.id_produto
GROUP BY p.cat_categoria, t.nu_mes, t.no_dia_semana
ORDER BY p.cat_categoria, t.nu_mes;
                         
""").fetchdf()
display(resultado)

,cat_categoria,nu_mes,no_dia_semana,receita_total,volume_vendas,total_frete
0,Alimentos e bebidas,1,Wednesday,1895.120022,8,71.620000
1,Alimentos e bebidas,1,Tuesday,2416.080030,13,68.779999
2,Alimentos e bebidas,1,Thursday,1914.920021,10,90.920002
3,Alimentos e bebidas,1,Friday,1818.190056,12,72.390001
4,Alimentos e bebidas,1,Saturday,2205.250080,12,104.050000
...,...,...,...,...,...,...
561,Papelaria e escritório,12,Tuesday,1237.949995,15,29.250000
562,Papelaria e escritório,12,Thursday,1069.650016,13,46.250000
563,Papelaria e escritório,12,Saturday,2619.040043,24,124.140000
564,Papelaria e escritório,12,Sunday,2195.330010,22,55.330000
565,Papelaria e escritório,12,Friday,2015.640027,22,117.640000

### 2. Ticket Médio por Faixa Etária e Método de Pagamento (dim_cliente + dim_produto)

Insight: Descobrir quais perfis de cliente geram mais receita por método de pagamento.

In [27]:
resultado = conn.execute("""
SELECT 
    c.cat_faixa_etaria,
    p.cat_meio_pagamento,
    AVG(f.vr_total) AS ticket_medio,
    SUM(f.vr_total) AS receita_total,
    COUNT(*) AS transacoes
FROM 'fato_vendas' f
JOIN 'dim_cliente' c ON f.sk_cliente = c.sk_cliente
JOIN 'dim_produto' p ON f.id_produto = p.id_produto
GROUP BY c.cat_faixa_etaria, p.cat_meio_pagamento
ORDER BY receita_total DESC;
""").fetchdf()
display(resultado)

,cat_faixa_etaria,cat_meio_pagamento,ticket_medio,receita_total,transacoes
0,35-44,PIX,2849.069978,3.185260e+06,1118
1,35-44,Cartão de Crédito,2667.296986,3.072726e+06,1152
2,45-54,Cartão de Crédito,2810.008946,1.969816e+06,701
3,25-34,Cartão de Crédito,2724.347370,1.882524e+06,691
4,45-54,PIX,2732.000870,1.743017e+06,638
5,25-34,PIX,2787.531391,1.039749e+06,373
6,55-64,Boleto,3286.277693,7.196948e+05,219
7,18-24,Cartão de Crédito,2862.620468,6.383644e+05,223
8,25-34,Cartão de Débito,1891.127640,5.635560e+05,298
9,25-34,Boleto,3104.927230,4.781588e+05,154
10,18-24,Cartão de Débito,3131.701156,4.760186e+05,152
11,35-44,Boleto,4062.171072,2.477924e+05,61
12,55-64,Cartão de Crédito,2509.994832,2.058196e+05,82
13,18-24,PIX,3119.095059,1.528357e+05,49
14,65+,Boleto,3831.804820,1.417768e+05,37
15,55-64,PIX,2176.549767,1.349461e+05,62
16,35-44,Cartão de Débito,2220.235613,1.221130e+05,55
17,45-54,Cartão de Débito,2184.109955,7.207563e+04,33
18,45-54,Boleto,1493.542175,5.974169e+04,40
19,55-64,Cartão de Débito,5407.334183,4.866601e+04,9
20,18-24,Boleto,1244.484976,1.991176e+04,16
21,65+,PIX,1066.315039,4.265260e+03,4
22,65+,Cartão de Crédito,89.225000,1.784500e+02,2

### 3. Crescimento Anual por Região e Categoria (dim_tempo + dim_cliente + dim_produto)

Insight: Identificar categorias em crescimento por região para investimento estratégico.

In [28]:
resultado = conn.execute("""
WITH vendas_anuais AS (
    SELECT
        t.nu_ano,
        c.cat_regiao,
        p.cat_categoria,
        SUM(f.vr_total) AS receita
    FROM 'fato_vendas' f
    JOIN 'dim_tempo' t ON f.id_tempo = t.id_tempo
    JOIN 'dim_cliente' c ON f.sk_cliente = c.sk_cliente
    JOIN 'dim_produto' p ON f.id_produto = p.id_produto
    GROUP BY t.nu_ano, c.cat_regiao, p.cat_categoria
)
SELECT 
    *,
    (receita - LAG(receita) OVER (PARTITION BY cat_regiao, cat_categoria ORDER BY nu_ano)) AS crescimento
FROM vendas_anuais
ORDER BY cat_regiao, cat_categoria, nu_ano;
                         """).fetchdf()
display(resultado)

,nu_ano,cat_regiao,cat_categoria,receita,crescimento
0,2023,Centro-Oeste,Alimentos e bebidas,1.769668e+04,NaN
1,2023,Centro-Oeste,Beleza e cuidados pessoais,3.273788e+04,NaN
2,2023,Centro-Oeste,Casa e limpeza,3.003170e+04,NaN
3,2023,Centro-Oeste,Eletrodomésticos,4.712125e+05,NaN
4,2023,Centro-Oeste,Eletrônicos,8.296938e+05,NaN
5,2023,Centro-Oeste,Ferramentas e construção,2.130026e+04,NaN
6,2023,Centro-Oeste,Livros,5.483410e+03,NaN
7,2023,Centro-Oeste,Papelaria e escritório,3.509990e+03,NaN
8,2023,Nordeste,Alimentos e bebidas,7.989140e+04,NaN
9,2023,Nordeste,Beleza e cuidados pessoais,1.370673e+05,NaN
10,2023,Nordeste,Casa e limpeza,1.105350e+05,NaN
11,2023,Nordeste,Eletrodomésticos,1.340691e+06,NaN
12,2023,Nordeste,Eletrônicos,3.428676e+06,NaN
13,2023,Nordeste,Ferramentas e construção,9.508900e+04,NaN
14,2023,Nordeste,Livros,2.199473e+04,NaN
15,2023,Nordeste,Papelaria e escritório,1.375346e+04,NaN
16,2023,Norte,Alimentos e bebidas,1.169632e+04,NaN
17,2023,Norte,Beleza e cuidados pessoais,2.594917e+04,NaN
18,2023,Norte,Casa e limpeza,1.591484e+04,NaN
19,2023,Norte,Eletrodomésticos,2.820311e+05,NaN
20,2023,Norte,Eletrônicos,6.922843e+05,NaN
21,2023,Norte,Ferramentas e construção,1.475221e+04,NaN
22,2023,Norte,Livros,3.215840e+03,NaN
23,2023,Norte,Papelaria e escritório,3.134020e+03,NaN
24,2023,Sudeste,Alimentos e bebidas,9.708940e+04,NaN
25,2023,Sudeste,Beleza e cuidados pessoais,1.886164e+05,NaN
26,2023,Sudeste,Casa e limpeza,1.357664e+05,NaN
27,2023,Sudeste,Eletrodomésticos,1.858187e+06,NaN
28,2023,Sudeste,Eletrônicos,4.433161e+06,NaN
29,2023,Sudeste,Ferramentas e construção,1.025425e+05,NaN
30,2023,Sudeste,Livros,3.873094e+04,NaN
31,2023,Sudeste,Papelaria e escritório,2.009211e+04,NaN
32,2023,Sul,Alimentos e bebidas,3.528940e+04,NaN
33,2023,Sul,Beleza e cuidados pessoais,5.727896e+04,NaN
34,2023,Sul,Casa e limpeza,3.878822e+04,NaN
35,2023,Sul,Eletrodomésticos,5.964706e+05,NaN
36,2023,Sul,Eletrônicos,1.642079e+06,NaN
37,2023,Sul,Ferramentas e construção,3.086812e+04,NaN
38,2023,Sul,Livros,8.955320e+03,NaN
39,2023,Sul,Papelaria e escritório,6.750040e+03,NaN

### 4. Eficiência de Frete por Categoria e Estado (dim_produto + dim_cliente)

Insight: Otimizar política de fretes para combinações categoria/estado menos eficientes.

In [29]:
resultado = conn.execute("""
SELECT 
    p.cat_categoria,
    c.sg_uf,
    SUM(f.vr_frete) / SUM(f.vr_total) AS frete_sobre_venda,
    AVG(f.vr_total) AS ticket_medio,
    COUNT(*) AS volume
FROM 'fato_vendas' f
JOIN 'dim_produto' p ON f.id_produto = p.id_produto
JOIN 'dim_cliente' c ON f.sk_cliente = c.sk_cliente
GROUP BY p.cat_categoria, c.sg_uf
HAVING COUNT(*) > 30  -- Filtra estados com volume significativo
ORDER BY frete_sobre_venda DESC;

""").fetchdf()
display(resultado)

,cat_categoria,sg_uf,frete_sobre_venda,ticket_medio,volume
0,Casa e limpeza,Rio Grande do Norte,0.074557,374.093803,42
1,Casa e limpeza,Pernambuco,0.072299,343.358803,67
2,Alimentos e bebidas,Bahia,0.071362,180.091506,113
3,Eletrodomésticos,Bahia,0.070516,6247.724579,52
4,Beleza e cuidados pessoais,Paraíba,0.070491,467.995500,49
...,...,...,...,...,...
58,Alimentos e bebidas,São Paulo,0.000685,153.932365,364
59,Ferramentas e construção,São Paulo,0.000649,500.207653,107
60,Beleza e cuidados pessoais,São Paulo,0.000570,389.189474,289
61,Casa e limpeza,São Paulo,0.000382,299.284099,256
62,Papelaria e escritório,São Paulo,0.000261,80.272720,114

### 5. Análise de Satisfação por Método de Pagamento e Dia da Semana (dim_produto + dim_tempo)

Insight: Identificar combinações pagamento/dia com maior satisfação para replicar estratégias.

In [30]:
resultado = conn.execute("""

SELECT 
    p.cat_meio_pagamento,
    t.no_dia_semana,
    AVG(f.nu_avaliacao) AS avaliacao_media,
    COUNT(*) AS volume_vendas,
    SUM(f.vr_cashback) AS total_cashback
FROM 'fato_vendas' f
JOIN 'dim_produto' p ON f.id_produto = p.id_produto
JOIN 'dim_tempo' t ON f.id_tempo = t.id_tempo
GROUP BY p.cat_meio_pagamento, t.no_dia_semana
ORDER BY avaliacao_media DESC;
                         
""").fetchdf()
display(resultado)

,cat_meio_pagamento,no_dia_semana,avaliacao_media,volume_vendas,total_cashback
0,Boleto,Tuesday,8.741573,89,23.0
1,Cartão de Débito,Sunday,8.727273,88,53.0
2,Cartão de Débito,Wednesday,8.644231,104,65.0
3,PIX,Tuesday,8.519553,358,148.0
4,Boleto,Sunday,8.500000,84,26.0
5,Cartão de Crédito,Friday,8.497899,476,201.0
6,Cartão de Crédito,Saturday,8.495220,523,224.0
7,PIX,Thursday,8.490358,363,123.0
8,Cartão de Débito,Friday,8.481013,79,48.0
9,PIX,Wednesday,8.475543,368,152.0
10,PIX,Friday,8.456464,379,160.0
11,Boleto,Thursday,8.453608,97,30.0
12,Boleto,Friday,8.450000,80,19.0
13,Cartão de Débito,Tuesday,8.440476,84,53.0
14,PIX,Saturday,8.435484,372,141.0
15,Cartão de Crédito,Thursday,8.435065,462,211.0
16,Cartão de Débito,Thursday,8.423529,85,54.0
17,Cartão de Crédito,Tuesday,8.406452,465,198.0
18,Cartão de Crédito,Sunday,8.366255,486,223.0
19,Cartão de Débito,Saturday,8.355140,107,68.0
20,PIX,Sunday,8.353960,404,159.0
21,Boleto,Wednesday,8.329545,88,31.0
22,Boleto,Saturday,8.314607,89,20.0
23,Cartão de Crédito,Wednesday,8.298405,439,182.0

### 6. Clientes Premium (Cross-Dimension)

Insight: Perfil completo dos clientes de alto valor para programas de fidelidade.

In [31]:
resultado = conn.execute("""
WITH 
    clientes_premium AS (
        SELECT
            f.sk_cliente,
            SUM(f.vr_total) AS gasto_total,
            COUNT(DISTINCT f.id_produto) AS categorias_compradas
        FROM 'fato_vendas' f
        GROUP BY f.sk_cliente
        HAVING SUM(f.vr_total) > 10000  -- Defina seu critério de premium
    )
                            
SELECT 
    c.cat_faixa_etaria,
    c.cat_genero,
    c.cat_regiao,
    p.cat_meio_pagamento,
    AVG(cp.gasto_total) AS avg_gasto,
    COUNT(*) AS qtd_clientes
FROM clientes_premium cp
JOIN 'dim_cliente' c ON cp.sk_cliente = c.sk_cliente
JOIN 'fato_vendas' f ON cp.sk_cliente = f.sk_cliente
JOIN 'dim_produto' p ON f.id_produto = p.id_produto
GROUP BY c.cat_faixa_etaria, c.cat_genero, c.cat_regiao, p.cat_meio_pagamento;

""").fetchdf()
display(resultado)

,cat_faixa_etaria,cat_genero,cat_regiao,cat_meio_pagamento,avg_gasto,qtd_clientes
0,25-34,Feminino,Sudeste,Cartão de Débito,25673.503341,6
1,45-54,Masculino,Sudeste,Cartão de Crédito,19510.905166,29
2,45-54,Feminino,Sudeste,Cartão de Crédito,20793.706140,28
3,45-54,Feminino,Centro-Oeste,Cartão de Crédito,18630.403727,7
4,25-34,Masculino,Sudeste,Boleto,20653.422592,4
...,...,...,...,...,...,...
141,45-54,Feminino,Centro-Oeste,PIX,21711.250354,10
142,45-54,Feminino,Norte,PIX,18695.819336,2
143,35-44,Masculino,Sul,Boleto,31673.825963,3
144,55-64,Feminino,Nordeste,PIX,47945.388672,1
145,45-54,Masculino,Sul,Cartão de Débito,28473.329300,1

### 7. Análise de Satisfação

Insights: Identificar pontos de insatisfação por perfil de cliente.

In [32]:
resultado = conn.execute("""
SELECT 
    p.cat_meio_pagamento,
    c.cat_faixa_etaria,
    AVG(f.nu_avaliacao) AS avaliacao_media,
    COUNT(f.id_compra) AS volume
FROM fato_vendas f
JOIN dim_produto p ON f.id_produto = p.id_produto
JOIN dim_cliente c ON f.sk_cliente = c.sk_cliente
GROUP BY p.cat_meio_pagamento, c.cat_faixa_etaria
ORDER BY avaliacao_media DESC;
""").fetchdf()
display(resultado)

   cat_meio_pagamento cat_faixa_etaria  avaliacao_media  volume
0   Cartão de Crédito              65+         9.500000       2
1                 PIX              65+         9.250000       4
2              Boleto            45-54         8.850000      40
3    Cartão de Débito            55-64         8.777778       9
4    Cartão de Débito            45-54         8.666667      33
5    Cartão de Débito            18-24         8.651316     152
6    Cartão de Débito            35-44         8.581818      55
7              Boleto            18-24         8.562500      16
8              Boleto            55-64         8.552511     219
9                 PIX            45-54         8.512539     638
10                PIX            25-34         8.485255     373
11  Cartão de Crédito            25-34         8.476122     691
12             Boleto            35-44         8.475410      61
13                PIX            35-44         8.435599    1118
14  Cartão de Crédito            45-54         8.430813     701
15  Cartão de Crédito            55-64         8.426829      82
16  Cartão de Crédito            35-44         8.416667    1152
17   Cartão de Débito            25-34         8.402685     298
18             Boleto            25-34         8.272727     154
19             Boleto              65+         8.270270      37
20  Cartão de Crédito            18-24         8.206278     223
21                PIX            18-24         8.183673      49
22                PIX            55-64         8.129032      62